#entry p {
  min-height: 15px !important;
  margin: 0;
}

.tooltip {
  font-size: 10px;
}

.nav-tabs {
  overflow-x: visible !important;
}

#usernav ul {
  padding-left: 0px;
}

// move to toolbar -> overwrites .btn class
.navbar .nav > li > a {
  border: none;
}

#last-edit-person-and-time {
  display: inline-block;
}

#view-entry-content-wrapper {
  margin-top: 31px;
}

#entry form {
  margin: 0;
}

#article-title-bar {
  margin: 12px 0px 0px 0px;
  width: 100%;
  transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
  h1 {
    margin: 0;
  }
  .btn {
    height: 53px;
  }
  .title-hover-show {
    float: right;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.25s,opacity 0.25s linear;
     -moz-transition: visibility 0s linear 0.25s,opacity 0.25s linear;
     -webkit-transition: visibility 0s linear 0.25s,opacity 0.25s linear;
  }
  #article-title {
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

#article-title-bar:hover {
  background-color: #CCC;
  .title-hover-show {
    // display: block;
    visibility: visible;
    opacity: 1;
  }
}

#title-edit-bar {
  margin: 20px 0 10px 0;
  .btn {
    height: 53px;
  }
}

input.entry-title-input {
  font-weight: 300 !important;
  font-size: 36px !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  height: 53px;
  padding: 0;
}


#entry-sidebar {
  a.selected {
    color: #ffffff;
    background-color: #0088cc;
  }
}

// table {
//   min-width: 400px;
//   margin: 10px 5px 10px 5px;
//   border-spacing: 2px;
//   border-color: gray;

// }

// override for faulty less compile
.tooltip.in {
  opacity: 0.9;
}

