<template name="left_nav">
  <div id="left_nav">
    <div id="logo">
        <a href="/">
            <img src='/images/logo.png' alt='Toaglas Wiki'>
        </a></div>
    {{#if currentUser}}
    <div id="search" class="navbar-search pull-left" >
            <input class="form-control" type="search" results="5" size="15" placeholder="Search" accesskey="F" autocomplete="off" lastsearchtext="aasdfasdfsd" placeholder="" id="search-input" value="{{term}}"></div>

    <nav id='pinned_nav'>
    	<ul class="nav nav-list">
            {{#isolate}}
    		<li {{#if pageIs "/"}}class="selected"{{/if}}>
                <a class="left-nav" href="/">
                    <span aria-hidden="true" data-icon="&#x68;"></span> Home
                </a>
            </li>
			<li {{#if pageIs "Help"}}class="selected"{{/if}}><a class="left-nav" href="/Help"><span aria-hidden="true" data-icon="&#x6e;"></span> Help</a></li>
			<li {{#if pageIs "Index"}}class="selected"{{/if}}><a class="left-nav" href="/PageIndex"><span aria-hidden="true" data-icon="&#x6e;"></span> Index</a></li>
            {{/isolate}}
    	</ul>
    </nav>
    {{/if}}

    <div id="buttons" >
        {{loginButtons}}
    </div>

    {{#if currentUser}}
    <user>

            <ul class="nav nav-tabs" id="userTabs">
                <li id="editedTab" class="{{#if isActiveTab 'editedTab'}} active {{/if}}">
                    <a class='tabButton'>Edited</a>
                </li>
                <li id="starredTab" class="{{#if isActiveTab 'starredTab'}} active {{/if}}">
                    <a class='tabButton'>Starred</a>
                </li>
            </ul>

        <div id="usernav" class="tab-content">   
                <div id="edited" class="tab-pane {{#if isActiveTab 'editedTab'}} active {{/if}}">
                    <ul>
                        {{#each edited}}
                            <li><a class="left-nav" href="{{entryLink this}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </div> 
            <div id="starred" class="tab-pane {{#if isActiveTab 'starredTab'}} active {{/if}}" >
                    <ul>
                        {{#each starred}}
                        <li><a class="left-nav" href="{{entryLink this}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
            </div>
        </div>
    </user>
    {{/if}}
  </div>
</template>