<template name="newUserModal">

  <div id="new-user-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        
        <div class="modal-header">
            <h3>Welcome</h3>
        </div>
        
        {{#isolate}}
        <div class="modal-body">
            <p>Please pick a username</p>
            <input type="text" id="initial-username-input"/>
            {{#if usernameTaken }}
            <span class="red">Taken</span>
            {{/if}}
        </div>
        
        <div class="modal-footer">
            <a id="new-username-button" href="javascript:void(0);" class="btn btn-primary{{#if continueDisabled}} disabled{{/if}}">Continue</a>
        </div>
        {{/isolate}}

      </div>
    </div>
  </div>
</template>