<template name="history">
    <form class="historyForm">
        <table class="table revisionsTable">
            <thead>
            <tr>
                <th><button id="compareSelected">Compare Selected</button></th>
                <th>Date</th>
                <th>Author</th>
                <th>View Revision</th>
            </tr>
            </thead>
            <tbody>
            <!-- for revs -->
            {{#each revisions}}
            <tr>
                <td class="compareRadio">
                    <div>
                        <input type="radio" name="rev1" value="{{_id}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="rev2" value="{{_id}}">
                    </div>
                </td>
                <td>
                    {{moment}}
                </td>
                <td>
                    <a href="/users/{{getUserName author}}">{{getUserName author}}</a>
                </td>
                <td>
                    <a href="/revision/{{entry.title}}/{{_id}}">View Revision</a>
                </td>
                <!--
                <td>
                     comment
                </td>
                -->
            </tr>
            {{/each}}
            </tbody>
        </table>
    </form>
    </div>
</template>

<template name="compare">
    <h3 id="compareTitle"></h3>
        <div id="revCompare">
            <div id="diffView" class="diff">
                {{{diff}}}
            </div>
        </div>
</template>

