<template name="entry">
    <div id="entry">

        {{#if changingTitle}}
            <div id="title-edit-bar" class="input-group">
                <input id="article-title-input" class="article-title entry-title-input form-control" type="text" 
                   value="{{#if userContext}}{{userContext}} / {{/if}}{{title}}">
                <span id="title-edit-buttons" class="input-group-btn">
                
                    <button id="article-title-save" type="button" class="btn btn-success">
                      OK
                    </button>
                    <button id="article-title-cancel" type="button" class="btn btn-warning">
                      Cancel
                    </button>
                </span>
            </div>
        {{else}}
            <div id="article-title-bar" class="input-group">
                <h1 id="article-title" class="article-title">
                    {{#if userContext}}{{userContext}} / {{/if}}{{title}}
                </h1>
                <span id="title-edit-buttons" class="input-group-btn">
                
                    <button id="article-title-edit" type="button" class="btn btn-primary title-hover-show">
                      Edit Title
                    </button>
                </span>
            </div>
        {{/if}}

        <div id="last-edit-person-and-time">
            <span class='text-muted'> last edited by </span>
            <a href="/users/{{lastEditedBy}} ">{{lastEditedBy}}</a>
            <span class='text-muted'> {{sinceLastEdit}} </span>
            (<a href="/history/{{entry.title}}">history</a>)
        </div>

        {{#if editMode}}
            <form>
                {{#with entry}}
                    {{> editEntry}}
                {{/with}}
                {{#if adminable}}
                    <p>
                        <label>Mode
                            <select id="mode" name="mode">
                                <option {{#if modeIs "public"}}selected{{/if}} value="public">Public</option>
                                <option {{#if modeIs "read-only"}}selected{{/if}} value="read-only">Read-Only</option>
                                <option {{#if modeIs "private"}}selected{{/if}} value="private">Private</option>
                            </select>
                        </label>
                    </p>
                {{/if}}
            </form>
        {{else}}
            {{#if entry._id}}
                {{#if viewable}}
                    <div id="view-entry-content-wrapper">
                        <p>{{{entry.text}}}</p>
                    </div>
                    {{> comment_form}}
                    {{> comment_list}}
                {{else}}
                    <p>{{entry.title}} is private.</p>
                {{/if}}
            {{else}}
                {{#if entryLoaded}}
                    <p>{{title}} doesn't exist yet.</p>
                    {{#if currentUser}}
                        <a class="btn btn-success edit" href="#" value="edit" id="create_btn"><span aria-hidden="true" data-icon="&#x22;"></span> Create it!</a>
                    {{/if}}
                {{else}}
                    {{> spinner}}
                {{/if}}
            {{/if}}
        {{/if}}
    </div>

</template>
